@import './variables';
@import './mixins';

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@import './not_found';
@import './loading_auth';